<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webcomponent_inject_into_page</title>
</head>
<body>
    @RenderBody()
    <script src="/component/client123" type="text/javascript"></script>
</body>
</html>